.forecast{
    display: grid;
    grid-template-columns: 45% 10% 45%;
    font-size: 0.8rem;
    padding: 0 0.625rem;
    background-color: #fff;
    padding-top: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid #e4e4e4;
    padding-bottom: 1rem;
}
.line_1{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 1rem;
    justify-content: center;
}
.line_2{
    margin-top: 1rem;
}